{% extends "base_navbar.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}


{% load wagtailcore_tags %}

{% block content_navbar %}

<div class="container mt-4 mb-4">
    <a href="{% pageurl page.get_parent %}">More blog posts.</a>
    <br>
    <br>
    <h3>{{ page.title|richtext }}</h3>
    <small>Posted on {{ page.publish_ts }}.</small>
    <br>    
    {{ page.intro|richtext }}
</div>

<div class="container mt-4 mb-4">
{% include_block page.post %}
</div>

{% if page.updates %}
<div class="container mt-b mb-4">
    <small>Updated on {{ page.update_ts }}.</small>
    <br>
    {{ page.updates|richtext }}   
</div>
{% endif %}

{% endblock content_navbar %}