{% extends 'homepage/margins.html' %}
{% block title %}MadResearchDen about me{% endblock %}

{% block content_margins %}

 <!-- TODO add some images and align to paragraphs. -->


        <p>I am (was?) a scientist that enjoys trying to work with technology.
            Previously I worked with parasites (Leishmania and Trypanosoma).</p>
        <br>
        <p>I am reasonably handy with Python, which I use for automation, some web development (Django) and data analysis & visualization.</p>
        <br>
        <p>I have a dog and an annoying cat who leave hair everywhere as they chase each other.</p>


        <p>You can contact me at madden1706@gmail.com.</p>
        <br>
        <p>I also post my simple things on <a href="https://github.com/madden1706">GitHub</a>.</p>

{% endblock %}
