{% extends 'homepage/margins.html' %}

{% load static %}

{% block content_margins %}

        <div class="row">
                <div class="col-lg-7 col-sm-12 my-3">
                <h3>Data</h3>
                {% if data_vis_int_main %} 

                      <h4><a class="otherLink" href="{% url 'data_vis:interactive_data_vis_page' slug=data_vis_int_main.slug pk=data_vis_int_main.id %}">{{ data_vis_int_main.title_of_post }} </a></h4>
                        <h7>{{ data_vis_int_main.date_of_post }}</h7>
                        {% if data_vis_int_main.homepage_chart_image %}
                        <div class="row">
                        <a href="{% url 'data_vis:interactive_data_vis_page' slug=data_vis_int_main.slug pk=data_vis_int_main.id %}">
                                <img class="img-fluid" src="{{ data_vis_int_main.homepage_chart_image.url }}" alt="alt" height="400">
                        </a>
                        </div>
                        {% endif %}

                        <p> {{ data_vis_int_main.intro_text | safe | truncatewords:20 }}...</p>  
                   
                {% elif data_vis_main %}

                        <h4><a class="otherLink" href="{% url 'data_vis:data_vis_post' slug=data_vis_main.slug pk=data_vis_main.id %}">{{ data_vis_main.title_of_post }} </a></h4>
                        <h7>{{ data_vis_main.date_of_post }}</h7>
                        

                        {% if data_vis_main.homepage_chart_image %}
                        <a href="{% url 'data_vis:data_vis' slug=data_vis_main.slug pk=data_vis_main.id %}">
                                <img class="img-fluid" src="{{ data_vis_main.homepage_chart_image.url }}" alt="alt" height="400">
                        </a>
                        {% endif %}
                        <p> {{ data_vis_main.intro_text | safe | truncatewords:20 }}...</p>
  
                {% else %}            
                
                <p>There are currently no data visualisation posts.</p>
                {% endif %}                     
                </div>

                <div class="col-lg-1 col-sm-0 my-3">
                </div>


                <div class="col-lg-4 col-sm-12 my-3">
                <h3>Blog</h3>
                {% if blogpost %}
                        <h4> <a class="otherLink" href= "{% url 'blog:blog' %}{{ blogpost.slug }}_{{ blogpost.id }}/"> {{ blogpost.title_of_post }}</a> </h4>
                        <p>{{ blogpost.date_of_post }}</p>
                        <p>{{ blogpost.blog_post | safe | truncatewords:120 }}...<br>
                {% else %}
                <p>There are currently no data blog posts.</p>
                {% endif %}               
                </div>
        </div>

        <div class="row justify-content-center">
                {% if secondary_datavis and secondary_blogposts %}
                        {% for post in secondary_datavis %}
                                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                                        <h4> <a class="otherLink" href= "{% url 'data_vis:data_vis' %}{{ post.slug }}_{{ post.id }}/"> {{ post.title_of_post }}</a> </h4>
                                        <p>{{ post.date_of_post }}</p>
                                        <p>{{ post.intro_text | safe | truncatewords:20 }}...<br>
                                 </div>
                        {% endfor %}
                {% endif %}


                {% if secondary_datavis and secondary_blogposts %}
                        {% for blogpost in secondary_blogposts %}
                                <div class="col-lg-4 col-md-6 col-sm-12 my-3">
                                        <h4> <a class="otherLink" href= "{% url 'blog:blog' %}{{ blogpost.slug }}_{{ blogpost.id }}/"> {{ blogpost.title_of_post }}</a> </h4>
                                        <p>{{ blogpost.date_of_post }}</p>
                                        <p>{{ blogpost.blog_post | safe | truncatewords:20 }}...<br>                
                                </div>
                        {% endfor %}
                {% endif %}


                {% if secondary_datavis or secondary_blogposts %}

                        {% if secondary_datavis %}
                                {% for post in secondary_datavis %}
                                        <div class="col-lg-3 col-md-6 col-sm-12 my-3 ">
                                                <h4> <a class="otherLink" href= "{% url 'data_vis:data_vis' %}{{ post.slug }}_{{ post.id }}/"> {{ post.title_of_post }}</a> </h4>
                                                <p>{{ post.date_of_post }}</p>
                                                <p>{{ post.intro_text | safe | truncatewords:20 }}...<br>
                                        </div>
                                {% endfor %}
                        {% endif %}

                        {% if secondary_blogposts %}
                                {% for blogpost in secondary_blogposts %}
                                        <div class="col-lg-3 col-md-6 col-sm-12 my-3 ">
                                                <h4> <a class="otherLink" href= "{% url 'blog:blog' %}{{ blogpost.slug }}_{{ blogpost.id }}/"> {{ blogpost.title_of_post }}</a> </h4>
                                                <p>{{ blogpost.date_of_post }}</p>
                                                <p>{{ blogpost.blog_post | safe | truncatewords:20 }}...<br>                
                                        </div>
                                {% endfor %}
                        {% endif %}
                {% endif %}

        </div> 

        <br>
        <br>

{% endblock %}

{% block content2_margins %}      
        <div class="row">
                <div class="col-sm-4 col-xs-12">
                        <center>
                                <img height="100" src="{% static 'images/graph.png' %}">
                        </center>
                        <p class="lead text-center"><br> Data</p>
                </div>

                <div class="col-sm-4 col-xs-12">
                        <center>
                                <img height="100" src="{% static 'images/code.png' %}">
                        </center>
                        <p class="lead text-center"><br> Coding</p>
                </div>

                <div class="col-sm-4 col-xs-12">
                        <center>
                                <img height="100" src="{% static 'images/cell.png' %}">
                        </center>
                        <p class="lead text-center"><br>  Science</p>
                </div>
        </div>
{% endblock %}



