{% extends 'homepage/margins.html' %}

{% load static %}

{% block content_margins %}

        <div class="row">
                <div class="col-lg-7 col-sm-12 my-3">
                <h3>Data</h3>
                {% if datavis %}        
                        <h3><a class="otherLink" href="{% url 'data_vis:data_vis' %}{{ datavis.slug }}_{{ datavis.id }}">{{ datavis.title_of_post }} </a></h3>
                        <h7>{{ datavis.date_of_post }}</h7>
                        <p> {{ datavis.intro_text | safe | truncatewords:50 }}...</p>

                        {% if datavis.homepage_chart_image %}
                        <a href="{% url 'data_vis:data_vis' %}{{ datavis.slug }}_{{ datavis.id }}">
                                <img class="img-fluid" src="/data_visualisation/{{ datavis.homepage_chart_image.url }}" alt="alt" height="400">
                        </a>
                        {% endif %}
                {% else %}
                <p>There are currently no data visualisation posts.</p>
                {% endif %}                     
                </div>

                <div class="col-lg-1 col-sm-0 my-3">
                </div>

                <div class="col-lg-4 col-sm-12 my-3">
                <h3>Blog</h3>
                {% if blogpost %}
                        <h3> <a class="otherLink" href= "{% url 'blog:blog' %}{{ blogpost.slug }}_{{ blogpost.id }}/"> {{ blogpost.title_of_post }}</a> </h3>
                        <p>{{ blogpost.date_of_post }}</p>
                        <p>{{ blogpost.blog_post | safe | truncatewords:50 }}...<br>
                {% else %}
                <p>There are currently no data blog posts.</p>
                {% endif %}               
                </div>
        </div>

        <div class="row">
                {% if secondary_datavis %}
                        {% for post in secondary_datavis %}
                                <div class="col-lg-3 col-md-6 col-sm-12 my-3">
                                        <h3> <a class="otherLink" href= "{% url 'data_vis:data_vis' %}{{ post.slug }}_{{ post.id }}/"> {{ post.title_of_post }}</a> </h3>
                                        <p>{{ post.date_of_post }}</p>
                                        <p>{{ post.intro_text | safe | truncatewords:20 }}...<br>
                                 </div>
                        {% endfor %}
                {% else %}
                        <div class="col-lg-3 col-md-6 col-sm-12 my-3">
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 my-3">
                        </div>
                {% endif %}

                {% if secondary_blogposts %}
                        {% for blogpost in secondary_blogposts %}
                                <div class="col-lg-3 col-md-6 col-sm-12 my-3">
                                        <h3> <a class="otherLink" href= "{% url 'blog:blog' %}{{ blogpost.slug }}_{{ blogpost.id }}/"> {{ blogpost.title_of_post }}</a> </h3>
                                        <p>{{ blogpost.date_of_post }}</p>
                                        <p>{{ blogpost.blog_post | safe | truncatewords:20 }}...<br>                
                                </div>
                        {% endfor %}
                {% else %}
                        <div class="col-lg-3 col-md-6 col-sm-12 my-3">
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 my-3">
                        </div>
                {% endif %}

        </div> 

        <br>
        <br>

{% endblock %}

{% block content2_margins %}      
        <div class="row">
                <div class="col-sm-4 col-xs-12">
                        <center>
                                <img height="100" src="{% static 'images/graph.png' %}">
                        </center>
                        <p class="lead text-center"><br> Data</p>
                </div>

                <div class="col-sm-4 col-xs-12">
                        <center>
                                <img height="100" src="{% static 'images/code.png' %}">
                        </center>
                        <p class="lead text-center"><br> Coding</p>
                </div>

                <div class="col-sm-4 col-xs-12">
                        <center>
                                <img height="100" src="{% static 'images/cell.png' %}">
                        </center>
                        <p class="lead text-center"><br>  Science</p>
                </div>
        </div>
{% endblock %}



