{% extends 'homepage/header.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-10 col-md-12 col-sm-12">
            {% block content_margins %}
            {% endblock %}
        </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    {% block no_margin %}
    {% endblock %}
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-10 col-md-12 col-sm-12">
            {% block content2_margins %}
            {% endblock %}
        </div>
    </div>
  </div>
{% endblock %}



