packages:
  pip:
    django: '2.0.5'
    mysqlclient: '1.3.12'


container_commands:

    01_http_to_https_redirect:
      command: sudo sed -i "/ \*:80\>/a RewriteEngine On\nRewriteCond %{HTTP:X-Forwarded-Proto} \!https\nRewriteRule \!/robots.txt https://%{SERVER_NAME}%{REQUEST_URI} [L,R=Permanent]" /etc/httpd/conf.d/wsgi.conf

    03_RDS:
      command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env"

    04_migrate:
      command: "source /opt/python/run/venv/bin/activate && python manage.py migrate"
      leader_only: true

    05_collectstatic:
       command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ross_website/wsgi.py