packages:
  pip:
    django: '2.0.5'
    mysqlclient: '1.3.12'

container_commands:

    01_migrate:
      command: "source /opt/python/run/venv/bin/activate && python manage.py migrate"
      leader_only: true


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ross_website/wsgi.py
