{% extends 'homepage/header.html' %}

{% block content %}

 <!-- TODO add some images and align to paragraphs. -->
<div class="container-fluid">
    <div class="col-9">

        <p>I am (was?) a scientist that enjoys trying to work with technology.
            Previously I worked with parasites (Leishmania and Trypanosoma).</p>
        <br>
        <p>I am reasonably handy with Python, which I use for automation, some web development (Django) and data analysis & visualization.</p>
        <br>
        <p>I have a dog and an annoying cat who leave hair everywhere as they chase each other.</p>

    </div>
</div>
{% endblock %}
