<!doctype html>
<html lang="en">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123190511-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-123190511-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet"> 
    <style> #homeLink a {
                color: #212529;
                text-decoration: none;
                font-size: 20px;
                }

                a.otherLink:hover, a.otherLink:active,
                a.otherLink:link, a.otherLink:visited    {
                        color: #212529;
                        text-decoration: none;
                        }

            * {
                font-size: 100%;
                font-family: 'Abel', sans-serif;
                }

            

    </style>

    <!-- SEO -->
    <title>{% block title %} MadResearchDen {% endblock %}</title>

    <meta property="site_name" content="MadResearchDen">
    <meta name="description" content="{% block meta_description %} MadResearchDen {% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %} MadResearchDen {% endblock %}">
    <meta name="author" content="Ross Madden">
    <meta property="url" content="https://www.madresearchden.com{% spaceless %}{% block meta_url %}{% endblock %}{% endspaceless %}">
    <meta property="type" content="">


    {% load static %}
  </head>
  <body>

    <nav class="shadow navbar navbar-expand-md navbar-light bg-light sticky-top" style="background-color: #e3f2fd;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homepage" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand"  href="{% url 'homepage:homepage' %}" style='text-decoration: none'> <img height="50" src="{% static 'images/paw_beaker.png' %}" alt="Paw and beaker">MadResearchDen</a>

      <div class="collapse navbar-collapse" id="homepage">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" style="color: #222" href="{% url 'homepage:homepage' %}">home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #222" href="{% url 'homepage:aboutme' %}">about me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #222" href="{% url 'blog:blog' %}">blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #222" href="{% url 'homepage:contact' %}">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "style="color: #222" href="{% url 'data_vis:data_vis' %}">data visualization</a>
          </li>

          <li class="nav-item disabled">
            <a class="nav-link" href="#">politics (still cooking)</a>
          </li>
        </ul>
      </div>
    </nav>

    <br>
    <br>

    

    <div class="container-fluid">


        {% block content%}
        {% endblock %}


    </div>

  

    <br>
    <br>


          



    {% include "homepage/dog.html" %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>