{% extends 'homepage/header.html' %}

{% block content %}


    <!--    <main class="container" role="main">
                <div class="jumbotron">
                        <h2>Trying to know what I am doing.</h2>
                        <p>...several mistakes at a time.</p>
                </div>
        </main>
        -->

{% load static %}


        <!-- TODO need some homepage content -  have an image slider?  Add something in the z axis.-->
<div class="container-fluid">
        <div class="row my-3" >
                <div class="col-lg-4 col-sm-12 my-3">
                        <center>
                            <img height="300" src="{% static 'images/graph.png' %}">
                        </center>
                        <p class="lead text-center"><br> Data</p>
                </div>

                <div class="col-lg-4 col-sm-12 my-3">

                        <center>
                            <img height="300" src="{% static 'images/code.png' %}">
                        </center>
                        <p class="lead text-center"><br> Coding</p>

                </div>

                <div class="col-lg-4 col-sm-12 my-3">

                        <center>
                            <img height="300" src="{% static 'images/cell.png' %}">
                        </center>
                        <p class="lead text-center"><br>  Science</p>

                </div>
    </div>
</div>



{% endblock %}
