{% extends 'homepage/header.html' %}

{% block content %}


        <main class="container" role="main">
                <div class="jumbotron">
                        <h2>Trying to know what I am doing.</h2>
                        <p>...several mistakes at a time.</p>
                </div>
        </main>



        <!-- TODO need some homepage content -  have an image slider?  Add something in the z axis.-->
<div class="container-fluid">
        <div class="row my-3" >
                <div class="col-lg-4 col-sm-12 my-3">
                        <p class="lead text-center">One</p>

                </div>

                <div class="col-lg-4 col-sm-12 my-3">
                        <p class="lead text-center">Two</p>

                </div>

                <div class="col-lg-4 col-sm-12 my-3">
                        <p class="lead text-center">Three</p>

                </div>
    </div>
</div>



{% endblock %}
