{% extends 'homepage/no_margins.html' %}

{% block content_nomargins %}


    <!--    <main class="container" role="main">
                <div class="jumbotron">
                        <h2>Trying to know what I am doing.</h2>
                        <p>...several mistakes at a time.</p>
                </div>
        </main>
        -->

{% load static %}


        <!-- TODO need some homepage content  Add something in the z axis.-->
<div class="row">

        <div class="col-lg-4 col-sm-12 my-3">
                <center>
                        <img height="300" src="{% static 'images/graph.png' %}">
                </center>
                <p class="lead text-center"><br> Data</p>
        </div>

        <div class="col-lg-4 col-sm-12 my-3">

                <center>
                        <img height="300" src="{% static 'images/code.png' %}">
                </center>
                <p class="lead text-center"><br> Coding</p>

        </div>

        <div class="col-lg-4 col-sm-12 my-3">

                <center>
                        <img height="300" src="{% static 'images/cell.png' %}">
                </center>
                <p class="lead text-center"><br>  Science</p>

        </div>


    <!--TODO need to add in a featured item. --> 
</div>



{% endblock %}
