{% extends 'homepage/header.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-3">

            <list>
                <!-- !TODO: add images for link hover -->
                <ul><a class="otherLink" href="{% url 'homepage:aboutme' %}">about me</a></ul>
                <ul><a class="otherLink" href="{% url 'blog:blog' %}">blog</a> </ul>
                <ul><a class="otherLink" href="{% url 'homepage:contact' %}">contact</a></ul>
                <ul>data visualization</ul>
                <ul><a class="otherLink" href="{% url 'homepage:testpage' %}">testpage</a></ul>
            </list>
    </div>

    <div class="col-sm-1 verticalLine" >
    </div>

    <div class="col-sm-8 align-self-end" align="right">
        {% include "homepage/dog.html" %}
    </div>
</div>

{% endblock %}
