{% extends 'homepage/margins.html' %}
{% block title %}MadResearchDen data visualization{% endblock %}

{% block content_margins %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/vega@3"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@2"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>

{% if data_vis_list %}

<div>
  <h4><a class="otherLink" href="{% url 'data_vis:data_vis' %}{{ data_vis_list.0.slug }}_{{ data_vis_list.0.id }}">{{ data_vis_list.0.title_of_post }} </a></h4>
  <h7>{{ data_vis_list.0.date_of_post }}</h7>
</div>

<!--div class="container no-gutters"-->
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-lg-9">
      <a href="{% url 'data_vis:data_vis' %}{{ data_vis_list.0.slug }}_{{ data_vis_list.0.id }}">
        <!--img class="img-fluid" src="{{ data_vis_list.0.homepage_chart_image.url|default_if_none:'#' }}" alt="alt" height="400"-->
      </a>
    </div> 
      <div class="col-xs-12 col-sm-3 col-lg-3">
        {% lorem 30 w %}
      </div>
  </div>
<!--/div-->

<br>
<br>

<!--TODO Have a list for 4 posts with the 1st left off.-->

<div class="container-fluid">
  <div class="row">
    <div class="card-deck">

    

      <!--div class="card border-0">
        <h5 class="card-title"><a class="otherLink" href="{% url 'data_vis:data_vis' %}{{ data_vis_list.0.slug }}_{{ data_vis_list.0.id }}">{{ data_vis_list.0.title_of_post }} </a></h5>
        <small class="text-muted">{{ data_vis_list.0.date_of_post }}</small>
        <div class="text-center">        
          <a href="{% url 'data_vis:data_vis' %}{{ data_vis_list.0.slug }}_{{ data_vis_list.0.id }}">
            <img class="img-fluid border-0" src="{{ data_vis_list.0.homepage_chart_image.url|default_if_none:'#' }}" alt="" height="150">
          </a>
        </div>
        <div class="card-body border-0">
          
          <p class="card-text">{% lorem 30 w %}</p>
        </div>
      </div>

      <div class="card border-0">
         <h5 class="card-title"><a class="otherLink" href="{% url 'data_vis:data_vis' %}{{ data_vis_list.0.slug }}_{{ data_vis_list.0.id }}">{{ data_vis_list.0.title_of_post }} </a></h5>
        <small class="text-muted">{{ data_vis_list.0.date_of_post }}</small>
        <div class="text-center">
          <a href="{% url 'data_vis:data_vis' %}{{ data_vis_list.0.slug }}_{{ data_vis_list.0.id }}">
            <img class="img-fluid border-0" src="{{ data_vis_list.0.homepage_chart_image.url|default_if_none:'#' }}" alt="" height="150">
          </a>
        </div class="card-body border-0">

          <p class="card-text">{% lorem 30 w %}</p>          
        </div>
      </div-->
    
    </div>
  </div>

  
  <br>

  <h5><a class="otherLink" href="{% url 'data_vis:data_vis_archive' %}">see more</a></h5>

</div>

{% else %}

<div>
  <h5>There is no data right now...</h5>
</div>

{% endif %}



{{ test1  }}
{{ test2  }}

{% endblock %}
