{% extends 'homepage/margins.html' %}

{% block title %}{{ datavisinteractive.title_of_post }}{% endblock %}

<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.js"></script>

{% block content_margins %}
    <div class="container-fluid">

        
        <h4>{{ datavisinteractive.title_of_post }}</h4>
        
        
        <div class="row">
             <p>{{datavisinteractive.intro_text}}</p>
        </div>
    </div>
{% endblock %}

{% block bokeh_app %}
    {{ bokeh_server_doc | safe }}
{% endblock %}

{% block content2_margins %}
    <div class="container-fluid">
        <div class="row"> 
            <p> {{datavisinteractive.concluding_text}} </p>
        </div>
    </div>
{% endblock %}


