{% extends 'homepage/margins.html' %}
{% block title %}MadResearchDen data visualization{% endblock %}

{% block content_margins %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/vega@3"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@2"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>


{% if data_vis_main %}

    <div class='row'>
      <div class="col">
        <h4><a class="otherLink" href="{% url 'data_vis:interactive_data_vis_page' slug=data_vis_main.slug pk=data_vis_main.id %}">{{ data_vis_main.title_of_post }}</a></h4>
      </div>
    </div>
    <div class='row'>
      <div class="col">
        <h7>{{ data_vis_main.date_of_post }}</h7>
      </div>
    </div>
    <div class='row'>
      <div class="col-xs-12 col-sm-9 col-lg-9">
        {% if data_vis_main.homepage_chart_image %}
          <a href="{% url 'data_vis:interactive_data_vis_page' slug=data_vis_main.slug pk=data_vis_main.id %}">
            <img class="img-fluid" src="{{ data_vis_main.homepage_chart_image.url }}" alt="alt" height="400">
          </a>
        {% else %}
        {% endif %}  
      </div>
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <p>{{ data_vis_main.intro_text | truncatewords:20 }}...</p>
      </div>
    </div>

    <div class='row'>

    {% for post in other_posts %}
      <div class="col-xs-12 col-sm-6 col-lg-3">              
        <a class="otherLink" href="{% url 'data_vis:data_vis_post' slug=post.slug pk=post.id%}"><h4>{{ post.title_of_post }}</h4></a>
        <p>{{ post.title_of_post }}</p>
        <p>{{ post.intro_text | truncatewords:20 }}...</p>
      </div>
    {% endfor %} 
    </div>
    
    {% if other_posts %}
      <div class='row'>
        <div class="col">
          <h5><a class="otherLink" href="{% url 'data_vis:data_vis_archive' %}">more data posts</a></h5>
      </div>
    </div>
    {% else %}

    {% endif %}
    <!--div class='row'>
      <div class="text-right">  
        <h5><a class="otherLink" href="{% url 'data_vis:data_vis_archive' %}">interactive apps</a></h5>
      </div>
    </div-->

{% else %}
  <div>
    <h5>There is no data right now...</h5>
  </div>
{% endif %}

{% endblock %}
