{% extends 'homepage/margins.html' %}

{% include "data_vis/back_to_data_vis.html" %}

{% block title %}{{ datavisinteractive.title_of_post }}{% endblock %}

<script src="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.js"></script>

{% block content_margins %}

{% include "data_vis/back_to_data_vis.html" %}
    <div class="container-fluid">    
        <div class="row">        
            <h4>{{ datavisinteractive.title_of_post }}</h4>        
        </div>    
        <div class="row">
            <p>{{datavisinteractive.intro_text}}</p>
        </div>
    </div>
{% endblock %}

{% block no_margin %}
    {{ bokeh_server_doc | safe }}
{% endblock %}

{% block content2_margins %}
    <div class="container-fluid">
        <div class="row"> 
            <p> {{datavisinteractive.concluding_text}} </p>
        </div>
    </div>
{% endblock %}


