{% extends 'homepage/margins.html' %}

{% block title %} MadResearchDen data vis archive {% endblock %}

{% block content_margins %}

<div class="container-fluid">

    <div class="row">
        <h4>Test</h4>
        <p>{% lorem 30 w %}</p>
    </div>

    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.js"></script>




            <!--p>{% lorem 5 w %}</p-->
            


    <div class="row">
        <h4><br>Test</h4>
        <p>{% lorem 30 w %}</p>
    </div>


</div>


{% endblock %}


{% block bokeh_app %}
{{ test | safe }}
{% endblock %}


