{% extends 'homepage/header.html' %}
{% block title %} MadResearchDen blog {% endblock %}


{% block content %}

<a class="otherLink" href="{% url 'blog:blog_archive_list' %}">back to blog archive</a>

{% if posts %}
<p><br></p>

    <div class="container-fluid">
        <div class="row">

          {% for blogpost in posts %}

                        <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4> <a class="otherLink" href= "{% url 'blog:blog' %}{{ blogpost.slug }}_{{ blogpost.id }}"> {{ blogpost.title_of_post }}</a> </h4>
                        <h6>{{ blogpost.date_of_post }}</h6>
                        <p>{{ blogpost.blog_post | safe | truncatewords:50   }}.....</p>
                        <br>
                        </div>

                {% endfor %}

        </div>
    </div>

{% else %}
    <p><br>No blogs are available.</p>
{% endif %}

<div class="container-fluid">

<!-- image-fluid class for images to be responsive on blog homepage.-->

{% endblock %}


