<!-- image-fluid class for images to be responsive on blog homepage.-->

<p>My urls for blog posts were purely based on the primary key of each post e.g. "blog/1".
    Now this is not particularly pretty or remotely human readable. They could have been much better!</p>
<p>So, to change this I decided to use to post title (which seems to be the obvious info to use) as part of the url. Now,
as this may not be unique (unlikely but plausible) I can also use the primary key to ensure uniqueness e.g. "blog/title-of-post_1".
</p>
<p>To do this I need to update my blog post model with a SlugField:
    <br>
    <code>slug = models.SlugField(default="", blank=True)</code>
    <br>
    <br>
I set "blank=True" so when a post is created the field can be left by the user and another piece of code can automatically
set the slug value. To do this I overwrite the save method:
        <pre>
            <code>
            def save(self, *args, **kwargs):
                self.slug = slugify(self.title_of_post)
                super(BlogPost, self).save(*args, **kwargs)
            </code>
        </pre>
    When the post is saved the slug variable is saved as <code>slugify(self.title_of_post)</code>. This line uses the slugify
    function "django.template.defaultfilters". "<a href="https://docs.djangoproject.com/en/2.0/ref/utils/">slugify</a>" takes an input and:
        <ul>
            <li>converts to ASCII</li>
            <li>spaces to hyphens</li>
            <li>removes characters that aren’t alphanumerics</li>
            <li>underscores, or hyphens</li>
            <li>converts to lowercase</li>
            <li>strips leading and trailing whitespace</li>
        </ul>
So "The title of my post!!" becomes "the-title-of-my-post".
</p>

<p>Now, in my urls.py I can  change:<br>
    <br>
    <code>path('&ltpk&gt/', views.BlogPostView.as_view(), name="blog_post")</code>
    <br>
    <br>
    to:
    <br>
    <br>
    <code>path('&ltslug:slug&gt_&ltpk&gt/', views.BlogPostView.as_view(), name="blog_post")</code>
    <br>
    <br>
    This will change the url from being "blog/1" to "blog/title-of-post_1". Readable and always unique.
</p>

<br>
<p>Also, as I already had blog posts I needed to update them. To do this I simply entered the django shell, looped over the posts and called "save":
<br>
    <pre>
        <code>
        In [1]: from blog.models import BlogPost as bp
        In [2]: bp_list = bp.objects.all()
        In [3]: for x in bp_list:
                    x.save()
        </code>
    </pre>
</p>