<!-- image-fluid class for images to be responsive on blog homepage.-->
<!-- can't have a link in the first 100 chars or it messes with the homepage layout -->


<p>So after playing around with Python for a while doing smaller tasks I thought it was time for a more substantial and long-term project. I decided on a personal website. Now if I wanted a personal site I could've just used one of the numerous services out there that make this process a few clicks of a button.... but what would I be able to fail at for a while then.</p>

<p>I settled on the Django framework to try and make a site and AWS to host (another good opportunity to <del>mess-up</del> learn) the site. </p>

<p> </p>



