{% extends "base_navbar.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}


{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content_navbar %}

  <div class="container mt-4 mb-4">

    <div class="row">

      {% if blog_post %}
        <div class="col-md">
            <h4><a href="{{ blog_post.url }}">{{ blog_post }}</a></h4>
            <p>{{ blog_post.intro }}</p>
            <a href="{{ blog_post.url }}">
              {% image blog_post.thumbnail max-320x320 class="img-fluid" %}
            </a>
        </div>
      {% endif %}

      {% if data_post %}
        <div class="col-md">
            <h4><a href="{{ data_post.url }}">{{ data_post }}</a></h4>
            <p>{{ blog_post.intro }}</p>
            <a href="{{ data_post.url }}">
              {% image data_post.thumbnail max-320x320 class="img-fluid" %}
            </a>
        </div>
      {% endif %}


      {% if other_post %}
      <div class="col-md">
        One of three columns
      </div>
      {% endif %}


    </div>


    {% comment %} <div class="row">
        <div class="col-8">
            1 of 2
        </div>
        <div class="col-md-auto">
            2 of 2
        </div>
    </div> {% endcomment %}


    <div class="row mt-4">
      {{ page.body|richtext }}
    </div>

  </div>

{% endblock content_navbar %}
