{% extends 'homepage/margins.html' %}
{% block title %} MadResearchDen blog {% endblock %}
{% block meta_url %}/blog{% endblock %}


{% block content_margins %}

{% if blog_home_list %}


    <div class="row">

            {% for blogpost in blog_home_list %}

                    <div class="col-md-4 col-sm-6 col-xs-12">
                    <h4> <a class="otherLink" href= "{% url 'blog:blog' %}{{ blogpost.slug }}_{{ blogpost.id }}/"> {{ blogpost.title_of_post }}</a> </h4>
                    <h6>{{ blogpost.date_of_post}}</h6>
                    <p>{{ blogpost.blog_post | safe | truncatewords:50 }}.....</p>
                    <br>
                    </div>

            {% endfor %}

    </div>


{% else %}
    <p>No blog posts are available.</p>
{% endif %}

<div class="row">
    <div class="col">
     <h5> <a class="otherLink" href= "{% url 'blog:blog_archive_list' %}"> blog archive</a></h5>
    </div>
</div><!-- TODO Add a search feature.-->

<!-- image-fluid class for images to be responsive on blog homepage.-->

{% endblock %}


