{% extends 'homepage/margins.html' %}

{% block title %}{{ blogpost.title_of_post }}{% endblock %}

{% block meta_description %} {{ blogpost.seo_description }} {% endblock %}

{% block meta_keywords  %}
{% for word in blogpost.seokeyword_set.all %}
{{ word.keyword }}
{% endfor %}
{% endblock %}

{% block meta_url %} {{ blogpost.get_absolute_url }} {% endblock %}

{% block content_margins %}

<a class="otherLink" href="{% url 'blog:blog' %}">back to blog</a>

{% load static %}
<br>
<br>

<h4>{{ blogpost.title_of_post }}</h4>
<h6>{{ blogpost.date_of_post }} </h6>
<p> <!--face='Helvetica, Arial, sans-serif'--> {{ blogpost.blog_post | safe}}</p>


<!-- "| safe" = safe content e.g. html, other scripts -->
<!-- TODO make a html template for writing posts How to deal with adding images neatly.-->

{# include "blog/next_previous.html" #}

{% endblock %}


