
{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}


{% load wagtailcore_tags %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container"> 
      <a class="navbar-brand" href="{% slugurl 'home' %}">MadResearchDen</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% slugurl 'home' %}">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="{% slugurl 'blog-index' %}">Blog</a>
          <a class="nav-item nav-link" href="#">Data</a>
          <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Other stuff</a>
        </div>
      </div>
    </div>
  </nav>
  {% block content_navbar %}
  {% endblock content_navbar %}

{% endblock content %}

